* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {font-size: 3em}
h2 {font-size: 2.7em}
h3 {font-size: 2em}
p {font-size: 1.25em}
ul {list-style: none;}
li {font-size: 1.25em;}

button {
    font-size: 2em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: #FFFFFF;
    background-color: #5F06CC;
}

button:hover {
    background-color: #512488;
    cursor:pointer;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    padding-top: 5px;
    background-color: #F4F4F4;
}

header .logo {
    text-decoration: none;
    margin: 0;
    padding: 8px 30px;
    padding-bottom: 6px;
    font-weight: bold;
    color: #5F06CC;
    font-size: 0.95em;
    text-align: center;
}


#desings {
    color:#5F06CC;
    text-decoration: underline;
    text-underline-offset: 2px;

}

header .cont{
    display:flex;
    align-items: center;
    flex-direction: column;
 }

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

header a {
    padding: 2px 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 0.66em;
}

header a:hover {
    color: #5F06CC;
}

#first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 100px 12px;
    background-color: rgb(59,69,188);
    color: #FFFFFF;
    height: 70vh;
}

#first h1{
    text-align: center;
    padding: 30px 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#first p{
    text-align: center;
    padding-top: 0;
    padding: 30px 30px;
    font-size: 2em;
    margin: 0;
}

.titulo {
    font-size: 3em;
    text-align: center;
}

.texto {
    font-size: 1.7em;
    text-align: center;
}

.text {
    padding: 0 20px;
}

#apoca {
    background-image: url(media/casa.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 960px;
    margin-top: 10px;
    border-radius: 15px;
}

#img-rif {
    background-image: url(media/rifle.png);
    background-position: center;
    background-size: cover;
    height: 540px;
    width: 900px;
    margin-top: 10px;
    border-radius: 15px;
}

#casa .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 10px;
}

#rifle {
    background-color: rgb(59,69,188);
    color: #FFFFFF;
}

#rifle .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 10px;
}

@media (min-width: 1000px){
    
    html {
        scroll-behavior: smooth;
    }
    
    header{
        position: fixed;
        width: 100%;
    }

    header .cont {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    header .logo{ 
        margin: 0;
        padding: 10px 30px;
        text-align: left;
        margin-left: 20px;
        font-size: 2.3em;
    }

    header nav{
        display: flex;
        justify-content: right;
        flex-direction: row;
        padding-right: 20px;
        padding-bottom: 0;
        
    }

    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header a {
        padding: 5px 12px;
        font-size: 1.45em;
    }

    #desings {
        text-underline-offset: 5px;
    }
    
    #first {
        height: 60vh;
    }

    #casa .container{
        flex-direction: row;
    }
    #rifle .container{
        flex-direction: row;
    }
}

@media(max-width:400px){
    #first {
        height: 100vh;
    }
}