* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {font-size: 4em}
h2 {font-size: 2.7em}
h3 {font-size: 2em}
p {font-size: 1.25em}
ul {list-style: none;}
li {font-size: 1.25em;}

button {
    font-size: 2em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: #FFFFFF;
    background-color: #5F06CC;
}

button:hover {
    background-color: #512488;
    cursor:pointer;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    padding-top: 5px;
    background-color: #F4F4F4;
}

header .logo {
    text-decoration: none;
    margin: 0;
    padding: 15px 30px;
    padding-top: 20px;
    font-weight: bold;
    color: #5F06CC;
    font-size: 2.3em;
    text-align: center;

}

#home {
    color:#5F06CC;
    text-decoration: underline;
    text-underline-offset: 4px;

}

header .cont{
    display:flex;
    align-items: center;
    flex-direction: column;
 }

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.45em;
}

header a:hover {
    color: #5F06CC;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(media/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
}

#hello{
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

#aspects {
    color: white;
    font-size: 2em;
    margin-bottom: 40px;
}

#hero button {
    font-size: 2.5em;
}

#about_me {
    text-align: center;
    padding: 200px 12px;
}

#proyectos {
    background-color: rgb(59,69,188);
    color: white;
    text-align: center;
}

#proyectos .container {
    padding: 120px 12px;
}

#proyectos h2 {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 3.2em;
}

#proyectos p {
    display: none;
}

#proyectos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.carta:first-child{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(media/hero.jpg);
}

.carta:nth-child(2){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(media/htb.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(media/rifle.png);
}

#allproyects{
    background-color: rgb(59,69,188);
    color: white;
    text-align: center;
}

#allproyects .container{
    padding: 120px 12px;
}

#allproyects button{
    font-size: 2.5em;
}

#habilidades {
    text-align: center;
    padding: 150px 12px;
}

@media (min-width: 1000px){
    
    html {
        scroll-behavior: smooth;
    }
    
    header{
        position: fixed;
        width: 100%;
    }

    header .cont {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    header .logo{ 
        margin: 0;
        padding: 10px 30px;
        text-align: left;
        margin-left: 20px;
    }

    header nav{
        display: flex;
        justify-content: right;
        flex-direction: row;
        padding-right: 20px;
        padding-bottom: 0;
    }

    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #hero h1{
        font-size: 5em;
    }

    #about_me .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #about_me .text{
        width: 50%;
        max-width: 700px;
        text-align: initial;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #about_me h2{
        margin-top: 0;
    }

    #about_me .img-container{
        background-image: url(media/aboutme.png);
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
    }

    #proyectos p{
        display: block;
        padding: 0 4em;
        margin-bottom: 30px;
    }

    #proyectos .carta{
        background-position: center center;
        background-size: cover;
        padding: 50px 0px;
        margin: 30px;
        border-radius: 15px;
    }

    #habilidades .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

@media (min-width: 1200px){
    
    html {
        scroll-behavior: smooth;
    }
    
    #habilidades .cont{
        display: flex;
        flex-direction: column;
        margin-top: 50px;

    }
    
    #habilidades .imagenes{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 400px;
        width: 400px;
    }
   
    #habilidades .img1{
        background-image: url(media/html1.png);
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 200px;
    }     
    
    #habilidades .img2{
        background-image: url(media/css.png);
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 200px;
    }      
    
    #habilidades .img3{
        background-image: url(media/javascript.png);
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 200px;
    }      

    #habilidades .img4{
        background-image: url(media/python.png);
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 200px;
    }
}